.carousel-content {
  background-image: url("../resources/header.jpg");
  background-position: center;
  background-size: cover;
}

.carousel-content-colapse {
  background-color: $secondary;
  width: 100vw;
  height: 50px;
  transition: all 1s ease-in;
}
